

body {  font-family: "poppins", sans-serif;
    margin-left: 150px;  background-color: hsl(229, 24%, 87%);}
  

 /* ThankYou.css */

.containers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
}

.stepThankYou {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stepThankYou h1 {
  color: #333;
  font-size: 2em;
  margin-bottom: 10px;
}

.stepThankYou p {
  color: #555;
  font-size: 1.2em;
}
